form {
padding: 5px;
margin:10px;
border: 1px;
border-style: solid;
border-radius: 10px;
max-width: 250px;
}

.radio-buttons{
margin:4px;
border: 1px;
border-style: solid;
border-radius: 10px;
}

.form-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;    
}