form {
padding: 5px;
margin:10px;
border: 2px solid #BE975B;
border-style: solid;
border-radius: 5px;
max-width: 400px;
max-height: 200px;
background-color: #DCDCDC;
font-size: 14px;
margin-left: 3%;
color: #484848;
font-family:sans-serif;
font-weight: 800;
/* margin-right: auto; */

}

.radio-buttons{
<<<<<<< HEAD
margin:15px;
border: 2px solid #BE975B;
border-style: solid grey;
border-radius: 5px;
background-color: #F5F5F5;
align-items: center;
justify-content: center;

}
=======
margin:4px;
border: 1px;
border-style: solid;
border-radius: 10px;
}

.form-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;    
}
>>>>>>> dev
