header {
  background-image: url(./logo1.png);
  background-size: cover;
  background-position: right;
  margin-left: 40px;
  width: 400px;
  height: 80px;
  size: 50%;

  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 50%;
  max-width: 400px;
  max-height: 100px;

}

body {
  margin: 0;
  padding: 0;
  background-image: url(./inthenews.jpg);

  /* background-image: url(./logo3.jpeg); */

  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 35%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
